@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root{
    --junglegreen:#172121;
    --independance:#282935;

}
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    display:flex;
    flex-direction:row;
    height:100vh;
    width:100vw;
    background:white;
 }
 h4{
   color:#8eeafc;
 }
 .para-1{
   color:#bcbdbc;
 }
 #para-2{
   color:#d7e187;
 }
 #para-3{
   color:#ff75c4;
 }
  /** Site Layout **/
 .col-1{ 
   flex:1;
   background:#454759;
   display: flex;
   flex-direction: column;
 }
 .col-2{
   flex:2;
   background:var(--independance); 
   padding-left:15px ;
   overflow: auto;
 }
 
 .col-3{
   flex:4;
   background:var(--independance);
   display:flex;
   flex-direction:column; 
   
 }
 .col-3 div{
   margin:5px;
 }
 .col-3-1{
   flex:1;
   background:var(--independance);
   padding-left: 15px;
 }
 .col-3-2{
   flex:1;
   background:var(--independance);
text-align: center;
 }
 .col-4{
   flex:2;
   background:var(--independance);
 }

 /** Styles for left side menu **/

 .menu{
 padding: 0 10px;
 height: 80%;
 }
 .menu-footer{
  height: 20%;
 }
 .menu li{
   list-style-type: none;
   padding:10px 0;
   font-size: 10px;
 }

ul li:nth-child(1) { 
  color: #8eeafc;
}

ul li:nth-child(2) { 
  color: #4efa82;
}
ul li:nth-child(3) { 
  color: #fdb770;
}
ul li:nth-child(4) { 
  color: #ff75c4;
}
ul li:nth-child(5) { 
  color: #bf91f6;
}
ul li:nth-child(6) { 
  color: #f8f8f2;
}
ul li:nth-child(7) { 
  color: #e4db7a;
}
 ul li .fa-wrench{
   color:#454759;
   background-color: #8eeafc;
   font-size:13px;
   padding:3px;
   margin-right: 4px;
 }

 ul li .fa-code{
  color:#454759;
   background-color:#4efa82;
   font-size:13px;
   padding:3px;
   margin-right: 5px;
 }

 ul li .fa-stack-overflow{
  color:#454759;
  background-color:#fdb770;
  font-size:13px;
   padding:3px;
   margin-right: 5px;
}

ul li .fa-chart-line{
  color:#454759;
  background-color:#ff75c4;
  font-size:13px;
  padding:3px;
  margin-right: 5px;
}

ul li .fa-pencil-alt{
  color:#454759;
  background-color:#bf91f6;
  font-size:13px;
   padding:3px;
   margin-right: 5px;
}

ul li .fa-lightbulb{
  color:#454759;
  background-color:#f8f8f2;
  font-size:13px;
   padding:3px;
   margin-right: 5px;
}

ul li .fa-lock{
  color:#ccc;
  font-size:13px;
   padding:3px;
   margin-left: 3px;
}

ul li .fa-question{
  color:#454759;
  background-color:#e4db7a;
  font-size:13px;
   padding:3px;
   margin-right: 5px;
}

ul li .fa-github-alt{
  color:white;
  background-color: #3f5995;
  padding:7px 5px;
  border-radius: 50%
}

ul li .fa-linkedin-in{
  color:white;
  background-color: #177faf;
  padding:7px 5px;
  border-radius: 50%
}
ul li .fa-twitter{
  color:white;
  background-color: #23aae9;
  padding:7px 5px;
  border-radius: 50%
}

ul li .fa-reddit{
  color:white;
  background-color: #6399cd;
  padding:7px 5px;
  border-radius: 50%
}
/** left menu footer **/
.menu-footer initab-link{
margin-left: 14px;
}
.social-links li{
display: inline;
margin:1px;
}
.social-links{
padding:2px;
}
/** Styles for Reddit Section**/
.posted-by{
color:#8eeafc;
}
.reddit-user{
  color:#e4db7a;
}
.reddit-score{
  color:#6472a2;
}
.reddit-link{
  color:#ff75c4;
}
.reddit-feed{
  border-left: 2px solid #6472a2;
  padding-left: 12px;
}
/** Styles for Javascript history**/
.history-icon img{
  height:20px;
  width: 20px;
}
.history-title,.history-days{
  margin-left: 15px;
  color:#6472a2;
}
/** Styles for current time**/
.current-time{
  font-size: 70px;
  color:#6472a2;
}