/* 252422 626868 GRANITE GRAY 172121 DARK JUNGLE GREEN*/

:root{
    --junglegreen:#172121;
    /* --independance:#454B66; */
    --independance:#282935;

}
body{
    padding: 0;
    margin: 0;
}
.container{
    display:flex;
    flex-direction:row;
    height:100vh;
    width:100vw;
    background:white;
 }
  
 .col-1{ 
   flex:1;
   background:#454759;
 }
 .col-2{
   flex:2;
   background:var(--independance); 
 }
 
 .col-3{
   flex:4;
   background:var(--independance);
   display:flex;
   flex-direction:column; 
   
 }
 .col-3 div{
   margin:5px;
 }
 .col-3-1{
   flex:1;
   background:var(--independance);
 }
 .col-3-2{
   flex:1;
   background:var(--independance);
 }
 .col-4{
   flex:2;
   background:var(--independance);
 }
 ul li{
   list-style: none;
 }

 ul li .settings{
  color:red;
 }
 ul li .fa-wrench{
   color:black;
   background-color: #8eeafc;
   padding:2px;
 }

 ul li .fa-code{
  color:black;
   background-color:#4efa82;
   padding:2px;
 }

 ul li .fa-stack-overflow{
  color:black;
  background-color:#fdb770;
  padding:2px;
}

ul li .fa-chart-line{
  color:black;
  background-color:#ff75c4;
  padding:2px;
}

ul li .fa-pencil-alt{
  color:black;
  background-color:#bf91f6;
  padding:2px;
}

ul li .fa-lightbulb{
  color:black;
  background-color:#f8f8f2;
  padding:2px;
}

ul li .fa-question{
  color:black;
  background-color:#e4db7a;
  padding:2px;
}